{% extends "common.html" %}
{% block title %}Comment{% endblock %}
{% block body %}
    <h1>User Comment Page</h1>
    <p>Username: {{username}}</p>
    <p>Your comment:</p>
    <ul>
      {% for usercom in usercomment %}
      <li>{{ usercom['timestamp'] }}, {{ usercom['comment'] }}</li>
      {% endfor %}
    </ul>
    <h3>Write new Comment</h3>
    <form action="/addcomment" method="post">
      <textarea rows="5" cols="40" name="commenttext"></textarea><br />
      <input type="submit" value="Submit Comment" />
      <input type="hidden" name="username" value="{{username}}" />
    </form>


<p><a href="/">Return home</a></p>
{% endblock %}
