{% extends "common.html" %}
{% block title %}Confirmation{% endblock %}
{% block body %}
    <h1>Order Confirmation Page</h1>
    <p>Username: {{username}}</p>
    <p>ISBN of book just ordered: {{isbn}}</p>
    <p>Your orders (oid):</p>
    <ul>
        {% for oid in useroidlist %}
        <li>{{ oid }}</li>
        {% endfor %}
    </ul>
    <!--<p>All the orders in the system:</p>
    <ul>
        {% for order in orderlist %}
        <li>{{ order['oid'] }}, {{ order['isbn'] }}, {{ order['quantity'] }}</li>
        {% endfor %}
    </ul>-->
    <form action="{{ url_for('payment') }}" method="post">
      Confirm<br />
      <input type="submit" value="Confirm" />
      <input type="hidden" name="oid" value="{{useroidlist['oid']}}" />
      <input type="hidden" name="username" value="{{username}}" />
    </form>

{% endblock %}
